*{
  font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
  background-color:rgb(192, 192, 236);
  color: #163167;
}

.main{
  margin-left: 200px;
  color: #61065b;
  height: 100%;
  padding: 0px 10px;
}
.main input[type=text]{
    width:75%;
    font-size:20px;
    padding: 15px;
    margin-bottom: 15px;
}
.itemPrice{
  float: left;
}

.menu{
display: flex;
flex-wrap: wrap;  
}

.item{
  margin: 5px 15px 15px 5px;
  width: 1600px;
  height: 100px;
  padding: 15px;
  background-color: #f4efc9;
  color: #032810;
  border-style: solid;
  border-width: 2px;
  box-shadow: 5px 5px 3px #05272b;
}

.nav{
  height: 100%;
  width: 200px;
  position: fixed;
  background-color: rgb(221, 221, 251);
  top: 0;
  left: 0;
  padding-top: 100px;
}

.nav input{
  padding: 15px;
  font-size: 13px;
}

.nav .table{
  height: 120px;
  width: 150px;
  padding: 10px;
  background-color: rgb(233, 254, 255);
  margin-top: 13px;
  margin-left: 8px;
  border-style: solid;
  font-size: 12px;

}

.table:hover , .myBtn:hover,.myBtn1:hover{
  background-color: rgb(196, 192, 192);
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

table, th, td {
  border: 1px solid;
  text-align: center;
}



